{% load static %}
<!DOCTYPE html>
<html lang="es">

{% load crispy_forms_tags %}


<head>
  <meta charset="utf-8">
  <title>Inquiry</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{% static 'img/inquiry_logo_16.png' %}"/>
  <link rel="shortcut icon" href="{% static 'img/inquiry_logo_32.png' %}"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/inquiry.css' %}">
  <link rel="stylesheet" href="dist/daterangepicker.min.css">
  <script type="text/javascript" src="moment.min.js"></script>
  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="dist/jquery.daterangepicker.min.js"></script>
  <meta name="theme-color" content="#907faf">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header class="border">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'inquiry_app:index' %}">
        <img src="{% static 'img/inquiry.svg' %}" alt="Inquiry Logo" width="180em" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#inquiry_navbar" aria-controls="inquiry_navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="inquiry_navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'inquiry_app:about' %}">About</a>
          </li>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container-fluid text-center">
      <h1 class="p-3">Open Science</h1>
      <div id="simpleSearch" class="collapse multi-collapse show">
        <form role="search" action="{% url 'inquiry_app:search' %}" method="get" class="basicform">
          <div class="input-group form-inline mb-3 justify-content-center">
            {{ basicform.subject | as_crispy_field }}
            {{ basicform.keywords | as_crispy_field }}
            <button type="submit" class="btn btn-primary"> Search </button>
          </div>
        </form>
      </div>
      <div class="custom-control custom-switch" data-toggle="collapse" data-target=".multi-collapse" role="button" aria-expanded="false" aria-controls="simpleSearch advancedSearch">
        <input type="checkbox" class="custom-control-input" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Advanced search</label>
      </div>
      <div id="advancedSearch" class="collapse multi-collapse">
        <form name="AdvForm" role="search" action="{% url 'inquiry_app:search' %}" method="get" class="advancedform md-form mt-0">
          <div class="row justify-content-center">
            <div class="col-3" name="title">
              {{ advancedform.title| as_crispy_field }}
            </div>
            <div class="col-3" name="authors">
              {{ advancedform.authors| as_crispy_field }}
            </div>
          </div>
          <div class="col" align="center">
            <div class="row justify-content-center form-inline">
              <div class="col-3" name="abstract">
                {{ advancedform.abstract| as_crispy_field }}
              </div>
              <div class="col-2">
                {{ advancedform.subject| as_crispy_field }}
              </div>
              <div class="col-1">
                  {{ advancedform.start_date | as_crispy_field }}
                  {{ advancedform.end_date | as_crispy_field }}
              </div>
            </div>
            <div class="col-6 centered" name="content">
              {{ advancedform.content| as_crispy_field }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary" onclick="return submitform();">Search</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
         </form>
      </div>
    </div>
  </main>

  <footer class="page-footer font-small border">
    <div class="footer-copyright text-center p-4">
      <span>Inquiry, a search engine by <a href="https://github.com/javiergarea">Javier Garea</a> and <a href="https://github.com/MartinSandeCosta">Martín Sande</a>.</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
