{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
  <div class="container-fluid">
    <div class="ml-auto">
      <form role="search" action="{% url 'inquiry_app:search' %}" method="get" class="basicform">
        <div class="input-group form-inline justify-content-center">
          {{ basicform.subject | as_crispy_field }}
          {{ basicform.keywords | as_crispy_field }}
          <div class="custom-button">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="p-4">
    {% for x in data %}
      <div class="py-4 px-2">
        <div class="card">
          <div class="card-body">
            <h4><a href="{{ x.abstract_url }}" class="card-title link">{{ x.title }}</a></h4>
            <h5><a href="{{ x.pdf_url }}" class="card-link small link text-success">{{ x.pdf_url }}</a></h5>
            <h6 class="py-2 text-secondary">
              {{ x.authors | join:", " }}
            <h6>
            <div class="p-2">
              <div id="summary">
                {% if x.fragment %}
                  <p class="collapse font-italic text-justify" id="summary{{ forloop.counter }}">
                    [...]
                    {% for fragment in x.fragment %}
                      {{ fragment | safe }}
                      [...]
                    {% endfor %}
                  </p>
                {% else %}
                  <p class="collapse text-justify" id="summary{{ forloop.counter }}">
                    {{ x.abstract }}
                  </p>
                {% endif %}
                <a class="collapsed" data-toggle="collapse" href="#summary{{ forloop.counter }}" aria-expanded="false" aria-controls="summary{{ forloop.counter }}"></a>
              </div>
            </div>
            <div class="p-1">
              <blockquote class="blockquote mb-0">
                <div class="blockquote-footer">{{ x.subject }} {%if x.other_subjects %} also {{ x.other_subjects }} {% endif %}</div> 
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}